{# src/CarsBundle/Resources/views/Specifications/form.html.twig #}

<div class="row">
    <div class="small-4 columns">
        <label>Marque :
            <input type="text" placeholder="marque">
        </label>
    </div>
</div>