{# src/CarsBundle/Resources/views/Specifications/index.html.twig #}

{% extends "CarsBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}
{% block cars_title %}
    {{ parent() }} - Caractéristiques
{% endblock %}
{% block cars_body %}
    <p>Specifications</p>
{% endblock %}