{# src/CarsBundle/Resources/views/Cars/model_list.html.twig #}

{% extends "CarsBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Liste modèles
{% endblock %}
{% block cars_title %}
    {{ parent() }} - Liste modèles
{% endblock %}
{% block cars_body %}
    <p>Liste des modèles</p>
    <table role="grid">
        <thead>
            <tr>
                <th>Marque</th>
                <th>Modele</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for model in models %}
                <tr>
                    <td>{{ model.marque }}</td>
                    <td>{{ model.modele }}</td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}