{# src/StatsBundle/Resources/views/Stats/index.html.twig #}

{% extends "StatsBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}
{% block stats_title %}
    {{ parent() }}
{% endblock %}
{% block stats_body %}
    <p>Cette fonctionnalité est à venir</p>
{% endblock %}