{# src/CustomerBundle/Resources/views/Customer/index.html.twig #}

{% extends "CustomerBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}
{% block customer_body %}
    <p>Hello Word</p>
{% endblock %}